<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uark.csce.mzm.atwordsend"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FriendsListActivity"
            android:label="@string/title_activity_friends_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GamesListActivity"
            android:label="@string/title_activity_games_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ViewGameActivity"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="stateUnchanged|adjustPan">
        </activity>
        <activity
            android:name=".MatchFindActivity"
            android:label="@string/title_activity_match_find"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ViewFriendActivity"
            android:label="@string/title_activity_view_friend"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddFriendActivity"
            android:label="@string/title_activity_add_friend"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="stateUnchanged|adjustPan">
        </activity>
        
        <provider android:name=".SentRequestContentProvider"
       		android:authorities="edu.uark.csce.mzm.atwordsend.SentRequestContentProvider"
       		android:exported="false">
        </provider>
        
        <!--<provider android:name=".DictionaryContentProvider"
       			android:authorities="edu.uark.csce.mzm.atwordsend.DictionaryContentProvider"
       			android:exported="false">
        	</provider>-->
        
        <provider android:name=".FriendContentProvider"
       		android:authorities="edu.uark.csce.mzm.atwordsend.FriendContentProvider"
       		android:exported="false">
        </provider>
        
        <provider android:name=".GameContentProvider"
       		android:authorities="edu.uark.csce.mzm.atwordsend.GameContentProvider"
       		android:exported="false">
        </provider>
        
        <provider android:name=".RecievedRequestContentProvider"
       		android:authorities="edu.uark.csce.mzm.atwordsend.RecievedRequestContentProvider"
       		android:exported="false">
        </provider>
    </application>
</manifest>
